{% load static %}
<!doctype html>
<html lang="es-cl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Sistema de registro/LOGIN</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
  </head>
  <body background="{% static 'img/t2.jpg'%}">


  <form class="form-signin" method="POST" >{% csrf_token %}
    
            
    
      <div class="text-center mb-4">
          <img class="mb-12" src="{% static 'images/unnamed.png'%}" alt="" width="90" height="90">
          <h1 class="h3 mb-3 font-weight-normal">Login-Major</h1>
          
          
          
      </div>
      {% if messages %}
          {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data.dismiss="alert" arial-label="Close">
                <span aria-hidden="true"> &times;</span>
              </button>
          {% endfor %}


            </div>
            
      {% endif %}

      <div class="form-label-group">
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
          <label for="username">Username</label>
      </div>

      <div class="form-label-group">
          <input type="password" id="password" name="password"class="form-control" placeholder="Password" required>
          <label for="password">Password</label>
      </div>

      <div class="checkbox mb-3">
          <label>
          <input type="checkbox" value="remember-me" > Remember me
          </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted text-center" >&copy; 2017-2020 </p>
     
    </form>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 

  </body>
</html>
