{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <h2>Eliminar Coach</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'polls:Coach_list' %}">Coachs</a></li>
        <li class="breadcrumb-item"><a href="" >CoachDelete</a></li>
      </ol>
    {% bootstrap_messages %}
    <p>Estas seguro de eliminar a <strong><a href= "{% url 'polls:coachupdate' coach.pk %}">{{team.Code_Team}}</a>?</strong> </p>
    <form class="" method="POST">
        {% csrf_token %}
        {% buttons %}
        <input type="submit" name="" class="btn btn-danger"  value="Eliminar"> | <a href= "{% url 'polls:Coach_list' %}" class="btn btn-light">Cancelar </a>
    </form>
  {% endbuttons %}

    
{% endblock %}