{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <h2>Agregar Coach</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'polls:Coach_list' %}" >Coachs</a></li>
          <li class="breadcrumb-item"><a href="{% url 'polls:coachcreate' %}" >CreateCoach</a></li>
        </ol>
      </nav>
    {% bootstrap_messages %}
    <form class="" method="POST">
        {% csrf_token %}
        
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
            Guardar Coach
            </button>
  {% endbuttons %}

    </form>
{% endblock %}
