{% extends "base.html" %}
{% block title %}Coachlist{% endblock %}
{%block content%}
<div class="row mt-2">
    <div class="col- md-9 col-lg-9 ">
        <h1>{{title}}</h1>          
    </div>
    <div class="col-md-3 col-lg-3 ">
        {% if perms.polls.add_coach %}
        <a href="{% url 'polls:coachcreate' %}" class="btn btn-success btn-block mt-2"><i class="fas fa-plus-square"></i> | Agregar Coach</a> 
        {% endif %}
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'polls:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'polls:Coach_list' %}" >Coachs</a></li>
      
    </ol>
  </nav>

<div class="row">
    <div class="col">
        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                <th>Nombre Team</th>
                <th>Coach</th>
                <th>Opciones</th>
                </tr>
            </thead>
            {% for coach in coachs %}
                <tr>
                    <td>{{coach.team.Nombre_Team }}</td>
                    <td>{{coach.Nombre_Coach}}</td>
                    <td>
                        {% if user.is_superuser or user.coach.Nombre_Coach == coach.Nombre_Coach  %}
                            <a href= "{% url 'polls:coachupdate' coach.pk %}"><i class="fas fa-edit"></i></a> |
                        {% endif %}
                        {% if user.is_superuser %}
                            <a href= "{% url 'polls:coachdelete' coach.pk %}"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
            {% if coachs.has_other_pages %}
                <nav aria-label="Page navigation"></nav>
                    <ul class="pagination">
                        {% if coachs.has_previous %}
                            <li class="page-item"><a href="?page={{ coachs.previous_page_number }}" class="page-link">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}
                        {% for i in coachs.paginator.page_range %}
                            {% if coachs.number == i %}
                                <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if coachs.has_next %}
                            <li class="page-item"><a  href="?page={{ coachs.next_page_number }}" class="page-link">&raquo;</a></li>
                        {% else %}
                            <li class="page-item" class="disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>       
    </div>
</div>

{% endblock %}