{% extends "base.html" %}
{% block title %}Teamlist{% endblock %}
{%block content%}

<div class="row mt-2">
    <div class="col- md-9 col-lg-9 ">
        <h1>{{title}}</h1>          
    </div>
</div>

<!-- bloque titulo-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
    </ol>
</nav>
<!--bloque table--> 
<div class="row">
    <div class="col">
      
        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                <th>Team</th>
                <th>Match</th>
                <th>Player</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href= "{% url 'polls:Team_list'%}">Listar Equipos</a></td>
                    <td><a href= "{% url 'polls:Partido_list'%}">Listar Partidos</a></td>
                    <td><a href= "{% url 'polls:Player_list'%}">Listar Jugadores</a></td>
                </tr>
            </tbody>
        </table>
    
    <div class="row mt-1">
        <div class="col- md-5 col-lg-5 ">
            <h1>Ultimos Partidos</h1>          
        </div>
    </div>
       <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                <th>Nombre Partido</th>
                <th>Equipo 1</th>
                <th>Equipo 2</th>
                <th>Fecha</th>
                </tr>
            </thead>
            {% for partido in match %}
                <tr>
                <td>{{partido.Nombre_Partido}}</td>
                <td>{{partido.team1}}</td>
                <td>{{partido.team2}}</td>
                <td>{{partido.fecha}}</td>
                </tr>
            {% endfor %}
        </table>
    {% if user.is_superuser %}
        <div class="row mt-1">
            <div class="col- md-5 col-lg-5 ">
                <h1>Ultimos Jugadores</h1>          
            </div>
        </div>

        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Apodo</th>
                <th>Edad</th>
                <th>Rut</th>
               </tr>
            </thead>
            {%for y in players %}
                
                    <tr>
                        <td>{{y.Nombre_Player}}</a></td>
                        <td>{{y.Apodo_Player}}</td>
                        <td>{{y.Edad_Player}}</td>
                        <td>{{y.Rut_Player}}</td>
                        
                    </tr>
                
            {% endfor %}
        </table> 
        <div class="row mt-1">
            <div class="col- md-5 col-lg-5 ">
                <h1>Ultimos Entrenadores</h1>          
            </div>
        </div>
        
        <table class="table table-striped table-hover mt-5">
                    <thead>
                        <tr>
                        <th>NombreTeam</th>
                        <th>Coach</th>
                        
                        </tr>
                    </thead>
                    {% for coach in coachs %}
                        <tr>
                            <td>{{coach.team.Nombre_Team }}</td>
                            <td>{{coach.Nombre_Coach}}</td>
                            
                        </tr>
                    {% endfor %}
        </table>
    {% endif %}
    {% if user.Coach.Nombre_Coach == Team.Coach_Team %}
        
        
            <div class="row mt-1">
                <div class="col- md-5 col-lg-5 ">
                    <h1>Ultimos Jugadores</h1>          
                </div>
            </div>

            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                    <th>Nombre</th>
                    <th>Apodo</th>
                    <th>Edad</th>
                    <th>Rut</th>
                    <th>Team</th>
                </tr>
                </thead>
                {%for y in players %}
                    
                        <tr>
                            <td>{{y.Nombre_Player}}</a></td>
                            <td>{{y.Apodo_Player}}</td>
                            <td>{{y.Edad_Player}}</td>
                            <td>{{y.Rut_Player}}</td>
                            <td>{{y.team}}</td>
                            
                        </tr>
                    
                {% endfor %}
            </table> 
    {% endif %}
  
    

   
   
    </div>
</div>


























{% endblock %}



