<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset="UTF-8">
    <title>MATCH</title>>
</head>>
<body>
    
    <h1>{{title}}</h1>
    
    <table style="width:100%" border="5">
     <tr>
        <th>Nombre Partido</th>
        <th>Equipo 1</th>
        <th>Equipo 2</th>
        <th>Fecha</th>
       
     </tr>
     {% for partido in match %}
     <tr>
        <td>{{partido.Nombre_Partido}}</td>
        <td>{{partido.team1}}</td>
        <td>{{partido.team2}}</td>
        <td>{{partido.fecha}}</td>
        
     </tr>
     {% endfor %}
    </table>
    
</body>
</html>>