{% extends "base.html" %}
{% block title %}Partidolist{% endblock %}
{%block content%}
<div class="row mt-2">
    <div class="col- md-9 col-lg-9 ">
        <h1>{{title}}</h1>          
    </div>
</div>

<body>
   
    
    <table class="table table-striped table-hover mt-5">
     <tr>
        <th>Nombre Partido</th>
        <th>Equipo 1</th>
        <th>Equipo 2</th>
        <th>Fecha</th>
       
     </tr>
     {% for partido in match %}
     <tr>
        <td>{{partido.Nombre_Partido}}</td>
        <td>{{partido.team1}}</td>
        <td>{{partido.team2}}</td>
        <td>{{partido.fecha}}</td>
        
     </tr>
     {% endfor %}
    </table>
    
</body>


{% endblock %}