{% extends "base.html" %}
{% block title %}Playerlist{% endblock %}
{%block content%}
<div class="row mt-2">
    <div class="col- md-9 col-lg-9 ">
        <h1>{{ title }}</h1>        
    </div>
    <div class="col-md-3 col-lg-3 ">
        {% if perms.polls.add_player %}
        <h2><a href="{% url 'polls:playercreate'%}"class="btn btn-success btn-block mt-2"><i class="fas fa-plus-square"></i> | Agregar jugador</a></h2>
        {% endif %}
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'polls:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'polls:Player_list' %}" >Players</a></li>
    </ol>
  </nav>
 

<div class="row">
    
    <div class="col">
        
        
        {% for x in teams %}
        
        <h3>{{ x.Nombre_Team }}</h3>
            <ol>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data.dismiss="alert" arial-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% endfor %}
                {% endif %}
                <table class="table table-striped table-hover mt-5">
                    <thead>
                        <tr>
                        <th>Nombre</th>
                        <th>Apodo</th>
                        <th>Edad</th>
                        <th>Rut</th>
                        <th>Team</th>
                        <th>Opciones</th>
                        </tr>
                    </thead>
                    {%for y in players %}
                        {% if x.Nombre_Team ==  y.team.Nombre_Team %} 
                            <tr>
                                <td>{{y.Nombre_Player}}</a></td>
                                <td>{{y.Apodo_Player}}</td>
                                <td>{{y.Edad_Player}}</td>
                                <td>{{y.Rut_Player}}</td>
                                <td>{{y.team}}</td>
                                <td>
                                    {% if perms.polls.change_player %}
                                        <a href= "{% url 'polls:playerupdate' y.pk %}"><i class="fas fa-edit"></i></a> |
                                    {% endif %}
                                    {% if perms.polls.delete_player %}
                                        <a href= "{% url 'polls:playerdelete' y.pk %}"><i class="fas fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                {% if teams.has_other_pages %}
                <nav aria-label="Page navigation"></nav>
                    <ul class="pagination">
                        {% if teams.has_previous %}
                            <li class="page-item"><a href="?page={{ teams.previous_page_number }}" class="page-link">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}
                        {% for i in teams.paginator.page_range %}
                            {% if teams.number == i %}
                                <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if teams.has_next %}
                            <li class="page-item"><a  href="?page={{ teams.next_page_number }}" class="page-link">&raquo;</a></li>
                        {% else %}
                            <li class="page-item" class="disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
             </ol>
        {% endfor %}
    </div>
</div>


{% endblock %}
