{% extends "base.html" %}
{% block title %}Teamlist{% endblock %}
{%block content%}
<div class="row mt-2">
    <div class="col- md-9 col-lg-9 ">
        <h1>{{title}}</h1>          
    </div>
    <div class="col-md-3 col-lg-3 ">
        {% if perms.polls.add_team %}
        <a href="{% url 'polls:createTeam'%}" class="btn btn-success btn-block mt-2"><i class="fas fa-plus-square"></i> | Agregar Team</a> 
        {% endif %}
    </div>

</div>
<!-- bloque titulo-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'polls:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'polls:Team_list' %}" >Teams</a></li>
    </ol>
  </nav>


<!--bloque table--> 
<div class="row">
    <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data.dismiss="alert" arial-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          {% endfor %}
        {% endif %}
        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Logo</th>
                <th>Code</th>
                <th>Coach</th>
                <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for team in Team %}
        
                <tr>
                    <td>{{team.Nombre_Team}}</td>
                    <td>{{team.Descripcion_Team}}</td>
                    <td>{{team.Logo_Team}}</td>
                    <td>{{team.Code_Team}}</td>
                    <td>{{team.Coach_Team}}</td>
                    <td>
                        {% if perms.polls.change_team %}
                            <a href= "{% url 'polls:teamupdate' team.pk %}"><i class="fas fa-edit"></i></a> |
                        {% endif %}
                        {% if perms.polls.delete_team %}
                            <a href= "{% url 'polls:teamdelete' team.pk %}"><i class="fas fa-trash"></i></a> 
                        {% endif %} 
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            {% if Team.has_other_pages %}
            <nav aria-label="Page navigation"></nav>
                <ul class="pagination">
                    {% if Team.has_previous %}
                        <li class="page-item"><a href="?page={{ Team.previous_page_number }}" class="page-link">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in Team.paginator.page_range %}
                        {% if Team.number == i %}
                            <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if Team.has_next %}
                        <li class="page-item"><a  href="?page={{ Team.next_page_number }}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <li class="page-item" class="disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            

        
    </div>
</div> 





{% endblock %}


