{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <h2>Editar Equipo</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'polls:Team_list' %}" >Teams</a></li>
          <li class="breadcrumb-item"><a href="" >TeamUpdate</a></li>
        </ol>
    </nav>
 
    {% bootstrap_messages %}
    <form class="" method="POST">
        {% csrf_token %}
        
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> | Guardar Team
            </button>
  {% endbuttons %}

    </form>
{% endblock %}
