{% load static %}
    <nav class="navbar navbar-dark bg-dark-primary" style="background-color:rgb(112, 112, 111)">
      <div class="container">
        <span>Hola<strong> {{user_type}} {{name}} </strong> / <a href="{% url 'auth:logout' %}">Logout<i class="fas fa-sign-out-alt"></i> </span> 
      </div>
      
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src= "{% static 'images/unnamed.png' %}" alt="" width="80" height="80">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'polls:home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Team_list' %}">Teams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Coach_list' %}">Coachs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Player_list' %}">Players</a>
              </li>
            
            </div>
          </div>
      </nav>
  